<form
	[formGroup]="fg"
	(ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['url'].value)">
		<div class="form-group">
			<label for="nombre">Nombre</label>
			<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..."
			[formControl]="fg.controls['nombre']">
			<ul>
				<li *ngFor ="let r of searchResults">{{r}}</li>
			</ul>
			<div *ngIf="fg.controls['nombre'].hasError('required')">nombre requerido</div>
			<div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">nombre invalido</div>
			<div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">nombre  debe tener almenos {{minLongitud]] de largo!</div>
		</div>
		<div class="form-group">
			<label for="Imagen Url">Imagen Url</label>
			<input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." 
			[formControl]="fg.controls['url']">
		</div>
		<button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>